.rv-index-detail{
    width: 100%;
    // background: #f00;

    // 轮播图
    .rv-swiper{
        width: 100%;
        height: 360px;
        .rv-swiper-item{
            width: 100%;
            height: 360px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    // 价格 名称 描述
    .rv-goods-info{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        .rv-price{
            padding: 10px 0;
            color: #f00;
            font-size: 12px;
            span:nth-of-type(2){
                font-size: 22px;
                font-weight: 600;
                margin-left: 2px;
                margin-right: 3px;
            }
        }
    }



}